.scoreboardTitle {
    margin-top: 10%;
    text-align: center;
    font-family: 'Hack', serif;
    color: #d9d9d9;
    padding-bottom: 1%;
}

.scoreboardTitle img {
    vertical-align: middle;
    width: 10%;
}

.scoreboard {
    color: #D9D9D9;
    text-align: center;
    font-size: 20pt;
    max-width: 50%;
    padding-left: 25%;
    font-family: 'Hack', serif;
}

.scoreboard table {
    border-collapse: collapse;
}

.scoreboard tr:nth-child(odd) {
    background-color: #D9D9D9;
    color: #032E37;
}

.scoreboard td, .scoreboard th {
    border: 2px solid black;
    padding: 10px;
}

.scoreboard th {
    background-color: beige;
}

.scoreboard tr:hover {
    opacity: 0.8;
}

.footer {
    border-top: 1px solid #E9E9E9;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    align-items: center;
    text-align: center; /*sau justify-items: center doar*/
    width: 90%;
    margin-top: 20%;
    margin-left: 5%;
    background-color: inherit;
    /*transform: translate(0%, 530%);*/
}

.ftr {
    /*border: 1px solid red;*/
    font-size: 18px;
    color: #E9E9E9;
    margin-top: 20px;
    margin-bottom: 12px;
}

p {
    margin: 0;
    padding: 0;
}

.scoreboard table {
    margin-left:auto; 
    margin-right:auto;     
}