.navBar {
    font-family: 'Hack';
    display: inline;
}

.navBar .logo {
    width: 15%;
    vertical-align: middle;
}

.navBar a {
    border-color: blue;
    border-radius: 80px;
    border-style: solid;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 15px;
    color: blue;
    text-decoration: none;
}

.navBar a:hover {
    background-color: blue;
    color: white;
}

.navBar a.active {
    background-color: blue;
    color: white;    
}